{% extends 'base.html' %}
{% load static %}

{% block title %}Create{% endblock %}

{% block scripts %}
{#    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>#}
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/create-update.css' %}">
    <link rel="stylesheet" href="{% static 'css/tagin.css' %}">
{% endblock styles %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-9" dir="auto">
                <label for="{{ form.title.id_for_label }}" class="form-label fs-5">{{ form.title.label }}</label>
                {{ form.title }}
                <div id="current_image" class="img-update position-relative rounded mb-3">
                    <img class="cover-image" src="{% if form.image.initial.url %}
{{ form.image.initial.url }}{% else %}{% static 'images/placeholder-banner.png' %}{% endif %}">
                    <div class="overlay-div position-absolute top-50 start-50 translate-middle"></div>
                    <span class="position-absolute top-50 start-50 translate-middle text-white fs-5">Edit</span>
                </div>
                {{ form.image }}
                {{ form.media }}
                {{ form.content }}
                <div id="word-count" class="d-flex flex-row col-12 justify-content-between bg-light border border-top-0">
                    <span class="small ms-2">Status:</span>
                    <span class="words small me-2"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-row text-nowrap col-12 mb-2">
                    <a class="text-decoration-none text-reset" href="{% url 'dashboard:article_list_index' %}">
                        <button class="btn px-1 pt-1 pb-0" type="button"><span class="me-1">Article list</span></button>
                    </a>
                    <a class="text-decoration-none text-dark" href="{% url 'dashboard:article_preview' article.slug %}"
                       target="_blank">
                        <button class="btn px-1 pt-1 pb-0" type="button"><span class="me-1">Preview</span>
                            <i class="bi bi-box-arrow-up-right"></i></button>
                    </a>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-between">
                    <div class="d-flex align-content-end col-12 mb-2 pt-2">
                        <span class="form-label fs-5 me-1">Article status: </span>
                        <span>{{ article.get_status_display }}</span>
                    </div>
                    {% if article is None or article.status == 'DFT' %}
                        <div class="d-flex flex-row col-12">
                            <button type="submit" name="submit"
                                    class="col-12 col-md-4 btn btn-secondary mb-3 me-md-2"
                                    value="save">Save</button>
                            <button type="submit" name="submit"
                                    class="flex-shrink-1 col-12 col-md-8 btn btn-primary mb-3"
                                    value="publish">Publish</button>
                        </div>
                    {% else %}
                        <div class="d-flex flex-row col-12">
                            <button type="submit" name="submit"
                                    class="col-12 col-md-8 btn btn-primary mb-3 me-md-2"
                                    value="publish">Update</button>
                            <button type="submit" name="submit"
                                        class="flex-shrink-1 col-12 col-md-4 btn btn-secondary mb-3"
                                        value="save">Save as Draft</button>
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.headline.id_for_label }}" class="form-label">{{ form.headline.label }}</label>
                    {{ form.headline }}
                </div>

                <label for="{{ form.main_category.id_for_label }}" class="form-label">Category</label>
                {{ form.main_category }}
                <datalist id="main_category_options">
                    {% for main_category in main_category_options %}
                        <option>{{ main_category }}</option>
                    {% endfor %}
                </datalist>
                {{ form.sub_category }}
                <datalist id="sub_category_options">
                    {% for sub_category in sub_category_options %}
                        <option data-parent="{{ sub_category.parent }}" >{{ sub_category }}</option>
                    {% endfor %}
                </datalist>

                <label for="{{ form.tags.id_for_label }}" class="form-label">{{ form.tags.label }}</label>
                {{ form.tags }}
                <datalist id="tag_options">
                    {% for tag in tag_options %}
                        <option value="{{ tag }} "></option>
                    {% endfor %}
                </datalist>

                <div class="accordion-button rounded bg-transparent text-reset border-0 shadow-none p-0 pb-3
                d-inline-flex col-12"
                        data-bs-toggle="collapse"
                        data-bs-target="#advanced" aria-expanded="true" aria-controls="advanced">
                    <span class="me-auto user-select-none">Advanced section</span>
                </div >
                <div class="accordion-collapse collapse show" id="advanced">
                    <label for="{{ form.meta_title.id_for_label }}" class="form-label">
                        {{ form.meta_title.label }}</label>
                    {{ form.meta_title }}
                    <label for="{{ form.meta_description.id_for_label }}" class="form-label">
                        {{ form.meta_description.label }}</label>
                    {{ form.meta_description }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_body %}
    <!-- start CKEDITOR -->
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <!-- end CKEDITOR -->

    <!-- start DROPDOWN -->
    <script>
        $("#{{ form.main_category.id_for_label }}").keyup(function() {
            let parent = $("#{{ form.main_category.id_for_label }}").val();
            let enabled_options = []
            $("#sub_category_options option").each(function(){
                if ($(this).data('parent') ==  parent) {
                    $(this).attr('disabled', false)
                    enabled_options.push($(this).val())
                }
                else {
                    $(this).attr('disabled', true)
                }
            })
            if (!enabled_options.includes($("#{{ form.sub_category.id_for_label }}").val())) {
                $("#{{ form.sub_category.id_for_label }}").val("");
            }
        })
    </script>
    <!-- end DROPDOWN -->

    <!-- start TAGIN -->
    <script src="{% static 'js/tagin.js' %}"></script>
    <script>
        for (const el of document.querySelectorAll('.tagin')) {
            tagin(el)
        }
    </script>
    <!-- end TAGIN -->

    <!-- start inputTrigger -->
    <script>
        $("#current_image").click(function () {
            $("#{{ form.image.id_for_label }}").trigger('click');
         });
        function readURL(input) {
            let reader = new FileReader()
            reader.onload = function(e) {
                $('#current_image img').attr('src', e.target.result)
            }
            reader.readAsDataURL(input.files[0])
        }
    </script>
    <!-- end inputTrigger -->
{% endblock %}
