{% extends 'base.html' %}
{% load static %}

{% block title %}Create{% endblock %}

{% block scripts %}
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/create-update.css' %}">
    <link rel="stylesheet" href="{% static 'css/ckeditor.css' %}">
    <link rel="stylesheet" href="{% static 'css/tagin.css' %}">
{% endblock styles %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-8">
                {{ form.title }}
                <div class="img-update position-relative rounded mb-3">
                    <img id="current_image" src="{% if form.image.initial.url %}
{{ form.image.initial.url }}{% else %}{% static 'images/placeholder-banner.png' %}{% endif %}">
                    <div class="overlay-div position-absolute top-50 start-50 translate-middle"><span class="text-white fs-5">Edit</span></div>
                    <input id="input_new_image" type="file" onchange="readURL(this)" class="form-control mb-3" accept="image/png, image/jpeg">
                </div>
                {{ form.image }}
                {{ form.media }}
                {{ form.content }}
            </div>
            <div class="col-4">
                <button type="submit" class="btn col-6 btn-primary mb-3">Save</button>

                <div class="mb-3">
                    <label for="{{ form.headline.id_for_label }}" class="form-label">{{ form.headline.name|title }}</label>
                    {{ form.headline }}
                </div>

                <label for="{{ form.main_category.id_for_label }}" class="form-label">Category</label>
                {{ form.main_category }}
                <datalist id="main_category_options">
                    {% for main_category in main_category_options %}
                        <option>{{ main_category }}</option>
                    {% endfor %}
                </datalist>
                {{ form.sub_category }}
                <datalist id="sub_category_options">
                    {% for sub_category in sub_category_options %}
                        <option data-parent="{{ sub_category.parent }}" >{{ sub_category }}</option>
                    {% endfor %}
                </datalist>

                {{ form.tags }}
            </div>
        </div>
    </form>

    {{ form.image.value_from_datadict.name }}
{% endblock %}

{% block extra_body %}
    <!-- start CKEDITOR -->
    <script>
        let checkExist = setInterval(function () {
            if ($('span.cke_top').length) {
                import('{% static 'js/ckeditor-icons.js' %}')
                if ($('iframe.cke_wysiwyg_frame').length) {
                    $('iframe.cke_wysiwyg_frame').contents().find('html head')
                        .append('<link rel="stylesheet" href="{% static 'css/ckeditor.css' %}">');
                }
                clearInterval(checkExist);
            }
        }, 50); // check every 50ms
    </script>
    <!-- end CKEDITOR -->

    <!-- start DROPDOWN -->
    <script>
        $("#{{ form.main_category.id_for_label }}").focusout(function() {
            let parent = $("#{{ form.main_category.id_for_label }}").val();
            let enabled_options = []
            $("#sub_category_options option").each(function(){
                if ($(this).data('parent') ==  parent) {
                    $(this).attr('disabled', false)
                    enabled_options.push($(this).val())
                }
                else {
                    $(this).attr('disabled', true)
                }
            })
            if (!enabled_options.includes($("#{{ form.sub_category.id_for_label }}").val())) {
                $("#{{ form.sub_category.id_for_label }}").val("");
            }
        })
    </script>
    <!-- end DROPDOWN -->

    <!-- start TAGIN -->
    <script src="{% static 'js/tagin.js' %}"></script>
    <script>
        for (const el of document.querySelectorAll('.tagin')) {
            tagin(el)
        }
    </script>
    <!-- end TAGIN -->

    <!-- start inputTrigger -->
    <script>
        $("#current_image").click(function () {
            $("#{{ form.image.id_for_label }}").trigger('click');
         });
        function readURL(input) {
            let reader = new FileReader()
            reader.onload = function(e) {
                $('#current_image').attr('src', e.target.result)
            }
            reader.readAsDataURL(input.files[0])
        }
    </script>
    <!-- end inputTrigger -->
{% endblock %}