{% extends 'base.html' %}
{% load static %}

{% block title %}Create{% endblock %}

{% block scripts %}
{% endblock scripts %}

{% block styles %}
    <style>
    .cke_chrome {
        border-radius: .3rem;
        overflow: hidden;
    }

    .cke_top, .cke_bottom{
        background-color: #f8f9fa !important;
    }

    .cke_top{
        border-radius: .3rem .3rem 0 0;
    }

    .cke_bottom{
        border-radius: 0 0 .3rem .3rem;
    }

    .cke_dialog {
        border-radius: .3rem;
        overflow: hidden;
        background-color: #f8f9fa !important;
    }

    a.cke_dialog_ui_button_ok {
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
    }

    a.cke_button, .cke_panel, .cke_combo_button {
        border-radius: 2px;
    }

    </style>
{#    Editor aus#}
{#    <link rel="stylesheet" href="{% static 'blog/editor/editor.css' %}">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{% endblock styles %}

{% block content %}
    <form action="">
        <div class="row">
            <div class="col-8">
                <input class="form-control form-control-lg mb-3" type="text" placeholder="Title" aria-label="Title">
                {{ form.media }}
                {{ form.content }}
{#                <div class="row">#}
{#                    <label for="title" class="col-2 col-form-label col-form-label-lg">Title</label>#}
{#                    <div class="col-10">#}
{#                        <input type="text" class="form-control form-control-lg" id="title">#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </div>
        </div>
    </form>
{#    <form action="." method="POST", enctype="multipart/form-data"> {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Save">#}
{#    </form>#}


{#    Editor aus#}
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <h2 class="">Create new</h2>#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12 nopadding">#}
{#                        <textarea id="txtEditor"></textarea>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block extra_body %}
    <script>
        let checkExist = setInterval(function() {
           if ($('span.cke_top').length) {
               $(".django-ckeditor-widget").addClass("w-100")
               $("#cke_1_contents").css({"min-height": "400px"})

               $("span.cke_button__undo_icon").replaceWith('<i class="cke_button_icon bi bi-reply-fill fs-6"></i>')
               $("span.cke_button__redo_icon").replaceWith('<i class="cke_button_icon bi bi-reply-fill fs-6"' +
                   'style="transform: scaleX(-1); -webkit-transform: scaleX(-1);"></i>')

               $("span.cke_button__source_icon").replaceWith('<i class="cke_button_icon bi bi-file-earmark-code-fill fs-6"></i>')
               $("span.cke_button__templates_icon").replaceWith('<i class="cke_button_icon bi bi-stack fs-6"></i>')

               $("span.cke_button__bold_icon").replaceWith('<i class="cke_button_icon bi bi-type-bold fs-6"></i>')
               $("span.cke_button__italic_icon").replaceWith('<i class="cke_button_icon bi bi-type-italic fs-6"></i>')
               $("span.cke_button__underline_icon").replaceWith('<i class="cke_button_icon bi bi-type-underline fs-6"></i>')
               $("span.cke_button__strike_icon").replaceWith('<i class="cke_button_icon bi bi-type-strikethrough fs-6"></i>')
               $("span.cke_button__removeformat_icon").replaceWith('<i class="cke_button_icon bi bi-eraser-fill fs-6"></i>')

               $("span.cke_button__justifyleft_icon").replaceWith('<i class="cke_button_icon bi bi-text-left fs-6"></i>')
               $("span.cke_button__justifycenter_icon").replaceWith('<i class="cke_button_icon bi bi-text-center fs-6"></i>')
               $("span.cke_button__justifyright_icon").replaceWith('<i class="cke_button_icon bi bi-text-right fs-6"></i>')
               $("span.cke_button__justifyblock_icon").replaceWith('<i class="cke_button_icon bi bi-justify fs-6"></i>')

               $("span.cke_button__bidiltr_icon").replaceWith('<i class="cke_button_icon bi bi-paragraph fs-6"' +
                   'style="transform: scaleX(-1); -webkit-transform: scaleX(-1);"></i>')
               $("span.cke_button__bidirtl_icon").replaceWith('<i class="cke_button_icon bi bi-paragraph fs-6"></i>')

               $("span.cke_button__numberedlist_icon").replaceWith('<i class="cke_button_icon bi bi-list-ol fs-6"></i>')
               $("span.cke_button__bulletedlist_icon").replaceWith('<i class="cke_button_icon bi bi-list-ul fs-6"></i>')

               $("span.cke_button__blockquote_icon").replaceWith('<i class="cke_button_icon bi bi-chat-square-quote-fill fs-6"></i>')

               $("span.cke_button__outdent_icon").replaceWith('<i class="cke_button_icon bi bi-text-indent-right fs-6"></i>')
               $("span.cke_button__indent_icon").replaceWith('<i class="cke_button_icon bi bi-text-indent-left fs-6"></i>')

               $("span.cke_button__link_icon").replaceWith('<i class="cke_button_icon bi bi-link fs-6"></i>')
               $("span.cke_button__unlink_icon").replaceWith('<i class="cke_button_icon bi bi-textarea-t fs-6"></i>')

               $("span.cke_button__textcolor_icon").replaceWith('<i class="cke_button_icon bi bi-palette fs-6"></i>')
               $("span.cke_button__bgcolor_icon").replaceWith('<i class="cke_button_icon bi bi-palette-fill fs-6"></i>')

               $("span.cke_button__image_icon").replaceWith('<i class="cke_button_icon bi bi-image fs-6"></i>')
               $("span.cke_button__table_icon").replaceWith('<i class="cke_button_icon bi bi-table fs-6"></i>')
               $("span.cke_button__horizontalrule_icon").replaceWith('<i class="cke_button_icon bi bi-hr fs-6"></i>')
               $("span.cke_button__pagebreak_icon").replaceWith('<i class="cke_button_icon bi bi-file-break-fill fs-6"></i>')
               $("span.cke_button__iframe_icon").replaceWith('<i class="cke_button_icon bi bi-file-earmark-play-fill fs-6"></i>')
               $("span.cke_button__showblocks_icon").replaceWith('<i class="cke_button_icon bi bi-grid-1x2-fill fs-6"></i>')
               $("span.cke_button__maximize_icon").replaceWith('<i class="cke_button_icon bi bi-fullscreen fs-6"></i>')
               clearInterval(checkExist);
           }
        }, 100); // check every 100ms
        {#$(document).ready(function() {#}
        {#    $("div.django-ckeditor-widget").ready(function() {#}
        {#        $("div.cke_1").ready(function() {#}
        {#            console.log($("div#cke_id_content"));#}
        {#        });#}
        {#    });#}
        {#);#}
    </script>
{% endblock %}