{% extends 'base.html' %}
{% load static %}

{% block title %}Create{% endblock %}

{% block scripts %}
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/create-update.css' %}">
    <link rel="stylesheet" href="{% static 'css/ckeditor.css' %}">
    <link rel="stylesheet" href="{% static 'css/tagin.css' %}">
{% endblock styles %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-8">
                {{ form.title }}
                <div class="img-update position-relative rounded mb-3">
                    <img id="current_image" class="img-fluid rounded" src="{{ form.image.initial.url }}" alt="">
                    <div class="overlay-div position-absolute top-50 start-50 translate-middle"><span class="text-white fs-5">Edit</span></div>
                    <input id="input_new_image" type="file" class="form-control mb-3 d-none">
                </div>
                {{ form.media }}
                {{ form.content }}
            </div>
            <div class="col-4">
                <button type="submit" class="btn col-6 btn-primary mb-3">Save</button>

                <div class="mb-3">
                    <label for="{{ form.headline.id_for_label }}" class="form-label">{{ form.headline.name|title }}</label>
                    {{ form.headline }}
                </div>

                <label for="{{ form.main_category.id_for_label }}" class="form-label">Category</label>
                {{ form.main_category }}
                <datalist id="main_category_options">
                    {% for main_category in main_category_options %}
                        <option>{{ main_category }}</option>
                    {% endfor %}
                </datalist>
                {{ form.sub_category }}
                <datalist id="sub_category_options">
                    {% for sub_category in sub_category_options %}
                        <option data-parent="{{ sub_category.parent }}" >{{ sub_category }}</option>
                    {% endfor %}
                </datalist>

                {{ form.tags }}
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_body %}
    <!-- start CKEDITOR -->
    <script>
        let checkExist = setInterval(function () {
            if ($('span.cke_top').length) {
                $(".django-ckeditor-widget").addClass("w-100")
                $("#cke_1_contents").css({"min-height": "400px"})

                $("span.cke_button__undo_icon").replaceWith('<i class="cke_button_icon bi bi-reply-fill fs-6"></i>')
                $("span.cke_button__redo_icon").replaceWith('<i class="cke_button_icon bi bi-reply-fill fs-6"' +
                    'style="transform: scaleX(-1); -webkit-transform: scaleX(-1);"></i>')

                $("span.cke_button__source_icon").replaceWith('<i class="cke_button_icon bi bi-file-earmark-code-fill fs-6"></i>')
                $("span.cke_button__templates_icon").replaceWith('<i class="cke_button_icon bi bi-stack fs-6"></i>')

                $("span.cke_button__bold_icon").replaceWith('<i class="cke_button_icon bi bi-type-bold fs-6"></i>')
                $("span.cke_button__italic_icon").replaceWith('<i class="cke_button_icon bi bi-type-italic fs-6"></i>')
                $("span.cke_button__underline_icon").replaceWith('<i class="cke_button_icon bi bi-type-underline fs-6"></i>')
                $("span.cke_button__strike_icon").replaceWith('<i class="cke_button_icon bi bi-type-strikethrough fs-6"></i>')
                $("span.cke_button__removeformat_icon").replaceWith('<i class="cke_button_icon bi bi-eraser-fill fs-6"></i>')

                $("span.cke_button__justifyleft_icon").replaceWith('<i class="cke_button_icon bi bi-text-left fs-6"></i>')
                $("span.cke_button__justifycenter_icon").replaceWith('<i class="cke_button_icon bi bi-text-center fs-6"></i>')
                $("span.cke_button__justifyright_icon").replaceWith('<i class="cke_button_icon bi bi-text-right fs-6"></i>')
                $("span.cke_button__justifyblock_icon").replaceWith('<i class="cke_button_icon bi bi-justify fs-6"></i>')

                $("span.cke_button__bidiltr_icon").replaceWith('<i class="cke_button_icon bi bi-paragraph fs-6"' +
                    'style="transform: scaleX(-1); -webkit-transform: scaleX(-1);"></i>')
                $("span.cke_button__bidirtl_icon").replaceWith('<i class="cke_button_icon bi bi-paragraph fs-6"></i>')

                $("span.cke_button__numberedlist_icon").replaceWith('<i class="cke_button_icon bi bi-list-ol fs-6"></i>')
                $("span.cke_button__bulletedlist_icon").replaceWith('<i class="cke_button_icon bi bi-list-ul fs-6"></i>')

                $("span.cke_button__blockquote_icon").replaceWith('<i class="cke_button_icon bi bi-chat-square-quote-fill fs-6"></i>')

                $("span.cke_button__outdent_icon").replaceWith('<i class="cke_button_icon bi bi-text-indent-right fs-6"></i>')
                $("span.cke_button__indent_icon").replaceWith('<i class="cke_button_icon bi bi-text-indent-left fs-6"></i>')

                $("span.cke_button__link_icon").replaceWith('<i class="cke_button_icon bi bi-link fs-6"></i>')
                $("span.cke_button__unlink_icon").replaceWith('<i class="cke_button_icon bi bi-textarea-t fs-6"></i>')

                $("span.cke_button__textcolor_icon").replaceWith('<i class="cke_button_icon bi bi-palette fs-6"></i>')
                $("span.cke_button__bgcolor_icon").replaceWith('<i class="cke_button_icon bi bi-palette-fill fs-6"></i>')

                $("span.cke_button__image_icon").replaceWith('<i class="cke_button_icon bi bi-image fs-6"></i>')
                $("span.cke_button__table_icon").replaceWith('<i class="cke_button_icon bi bi-table fs-6"></i>')
                $("span.cke_button__horizontalrule_icon").replaceWith('<i class="cke_button_icon bi bi-hr fs-6"></i>')
                $("span.cke_button__pagebreak_icon").replaceWith('<i class="cke_button_icon bi bi-file-break-fill fs-6"></i>')
                $("span.cke_button__iframe_icon").replaceWith('<i class="cke_button_icon bi bi-file-earmark-play-fill fs-6"></i>')
                $("span.cke_button__showblocks_icon").replaceWith('<i class="cke_button_icon bi bi-grid-1x2-fill fs-6"></i>')
                $("span.cke_button__maximize_icon").replaceWith('<i class="cke_button_icon bi bi-fullscreen fs-6"></i>')

                if ($('iframe.cke_wysiwyg_frame').length) {
                    $('iframe.cke_wysiwyg_frame').contents().find('html head')
                        .append('<link rel="stylesheet" href="{% static 'css/ckeditor.css' %}">');
                }
                clearInterval(checkExist);
            }
        }, 10); // check every 10ms
    </script>
    <!-- end CKEDITOR -->

    <!-- start DROPDOWN -->
    <script>
        $("#{{ form.main_category.id_for_label }}").focusout(function() {
            let parent = $("#{{ form.main_category.id_for_label }}").val();
            let enabled_options = []
            $("#sub_category_options option").each(function(){
                if ($(this).data('parent') ==  parent) {
                    $(this).attr('disabled', false)
                    enabled_options.push($(this).val())
                }
                else {
                    $(this).attr('disabled', true)
                }
                {#if ($("#{{ form.sub_category.id_for_label }}").val() != ) {#}
                {##}
                {# }#}
            })
            if (!enabled_options.includes($("#{{ form.sub_category.id_for_label }}").val())) {
                $("#{{ form.sub_category.id_for_label }}").val("");
            }
        })
    </script>
    <!-- end DROPDOWN -->

    <!-- start TAGIN -->
    <script src="{% static 'js/tagin.js' %}"></script>
    <script>
        for (const el of document.querySelectorAll('.tagin')) {
            tagin(el)
        }
    </script>
    <!-- end TAGIN -->

    <!-- Trigger -->
    <script>
        $("#current_image").click(function () {
            $("#input_new_image").trigger('click');
        });
    </script>
{% endblock %}