{% extends 'base.html' %}
{% load static %}

{% block title %}Moderate{% endblock %}

{% block scripts %}
{% endblock scripts %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Blog</div>
                <div class="card-body">
                    <h5 class="card-title">Moderate Articles in Blog</h5>
                    <p class="card-text">Articles needs to be approved by content managers to be visible for others.</p>
                    <a href="{% url 'moderate:article_list_index' %}" class="btn btn-danger">Moderate Articles</a>
                </div>
            </div>
        </div>
    </div>





{% endblock content %}

{% block extra_body %}
{% endblock extra_body %}
