.img-update * {
    transition: .2s ease;
}
.img-update {
    overflow: hidden;
    cursor: pointer;
    height: 25em;
}

.overlay-div {
    object-fit: cover;
    background-color: #000;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.img-update span {
    opacity: 0;
}

.img-update:hover .overlay-div {
    opacity: 0.5;
}



.img-update:hover span {
    opacity: 1;
}

.ck.ck-content {
    min-height: 60vh;
}
