.img-update * {
    transition: .2s ease;
}
.img-update {
    overflow: hidden;
    background-color: #000;
    cursor: pointer;
    height: 20em;
}

.img-update img {
    /*display: flex;*/
    /*flex: auto;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    object-fit: cover;
    height: 101%;
    width: 100%;
}

.overlay-div {
    opacity: 0;
}

.img-update:hover img {
    opacity: 50%;
}

.img-update:hover .overlay-div {
    opacity: 1;
}
