{% extends 'base.html' %}
{% load static %}

{% block title %}Article List{% endblock %}

{% block scripts %}
{% endblock scripts %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="row">
        <h4 class="">Articles List</h4>
    </div>

    <div class="row">
        <div class="card border-0 shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-centered table align-middle table-nowrap mb-0 rounded" dir="auto">
                    <thead class="table-light">
                        <tr>
                            <th class="border-0 rounded-start"></th>
                            <th class="border-0">Title</th>
                            <th class="border-0">Likes</th>
                            <th class="border-0">Status</th>
                            <th class="border-0">Last Update</th>
                            <th class="border-0 rounded-end">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <span class="fw-bold">{{ forloop.counter }}</span>
                                </td>
                                <td class="border-0">
                                    <div class="d-flex align-items-center">
{#                                        <img class="img-thumbnail rounded-circle border-0" alt="{{ object.title }}"#}
{#                                             src="{{ object.small_image.url }}">#}
                                        <div class="text-nowrap">
                                            <span class="h6 text-truncate" style="max-width: 10px">{{ object.title }}
                                            </span>
                                            <a href="{{ object.absolute_url }}" target="_blank"><i
                                                    class="bi bi-box-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-0">
                                    <span>{{ object.like_count|default:"N/A" }}</span>
                                </td>
                                <td class="border-0">
                                    <span class="text-{% if object.status == "DFT" %}secondary
{% elif object.status == "REQ" or object.status == "PND" %}warning
{% elif object.status == "PUB" %}success{% elif object.status == "EDT" %}info
{% elif object.status == "DEN" or object.status == "TRS" %}danger{% endif %}">
                                        {{ object.get_status_display }}
                                    </span>
                                </td>
                                <td class="border-0">
                                    <span class="fw-b">
                                        {{ object.updated_at|date:"M j, Y" }} . {{ object.updated_at|time:"h:i A" }}
                                    </span>
                                </td>
                                <td class="border-0">
                                    <a class="d-grid gap-2" href="{{ object.update_url }}">
                                        <button type="button" class="btn btn-primary px-5">Edit</button>
                                    </a>
                                </td>
                            </tr>
                            <!-- End of Item -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block extra_body %}
{% endblock extra_body %}