{% extends 'base.html' %}
{% load static %}

{% block title %}Article List{% endblock %}

{% block scripts %}
{% endblock scripts %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <h4>Articles List</h4>
    <div class="card border-0 shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="table-light">
                        <tr>
                            <th class="border-0 rounded-start"></th>
                            <th class="border-0">Title</th>
                            <th class="border-0">Likes</th>
                            <th class="border-0">Status</th>
                            <th class="border-0">Update date</th>
                            <th class="border-0 rounded-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <!-- Item -->
                            <tr>
                                <td class="border-0">
                                    <span class="fw-bold">{{ forloop.counter }}</span>
                                </td>
                                <td class="border-0">
                                    <div class="d-flex align-items-center">
{#                                        <img class="img-thumbnail rounded-circle border-0" alt="{{ object.title }}"#}
{#                                             src="{{ object.small_image.url }}">#}
                                        <div>
                                            <span class="h6">{{ object.title }}</span>
                                            <a href="{{ object.absolute_url }}" target="_blank"><i class="bi bi-box-arrow-in-up-right"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-0">
                                    <span>N/A</span>
                                </td>
                                <td class="border-0">
                                    <span>{{ object.status }}</span>
                                </td>
                                <td class="border-0">
                                    <span class="fw-b">{{ object.updated_at.date }}</span>
                                </td>
                                <td class="border-0">
                                    <a href="">
                                        <button type="button" class="btn btn-dark">Edit</button>
                                    </a>
                                </td>
                            </tr>
                            <!-- End of Item -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_body %}
{% endblock extra_body %}