{% extends 'base.html' %}

{% block scripts %}
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row g-4">
        {% for object in object_list %}
            {% if forloop.counter == 1 %}
                <a href="{{ object.absolute_url }}"
                   class="col-12">
                    <div dir="auto"
{#                         dir="{% if object.lang.code in lang_list %}rtl{% endif %}"#}
                         class="card text-white zoom round-more"
                         style="height: 35em;">
                        <img src="{{ object.image.url }}"
                             class="card-img"
                             alt="{{ object.title }}">
                        <div class="card-img-overlay overlay-dark d-flex flex-column justify-content-end p-4 p-sm-5">
                            <h5 class="card-title fs-3 fs-sm-1">{{ object.title }}</h5>
                            <p class="card-text fs-4 fs-sm-2">{{ object.headline|slice:80 }}...</p>
                            <div dir="ltr" class="d-flex flex-column-reverse flex-sm-row fs-6">
                                <div class="me-sm-3">
                                    <img src="{{ object.author.avatar.url }}" alt="Avatar"
                                         class="avatar me-1"
                                         style="height: 2em;">
                                    <span>{{ object.author|title }}</span>
                                </div>
                                <div class="mb-3 mb-sm-0">
                                    <span class="fs-6 fw-lighter avatar" style="opacity: 50%">
                                        <i class="bi bi-calendar-date me-2"></i>{{ object.updated_at.date }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% elif forloop.counter <= 3 %}
                <a href="{{ object.absolute_url }}"
                   class="col-12 col-sm-6">
                    <div dir="auto"
                         class="card text-white zoom round-more"
                         style="height: 25em;">
                        <img src="{{ object.image.url }}"
                             class="card-img"
                             alt="{{ object.title }}">
                        <div class="card-img-overlay overlay-dark d-flex flex-column justify-content-end p-4">
{#                            <h5 class="card-title fs-4">{{ object.title }}</h5>#}
                            <p class="card-text fs-5">{{ object.headline|slice:80 }}...</p>
                            <p dir="ltr"
                               class="card-text fs-6 fw-lighter"
                               style="opacity: 50%">
                                <i class="bi bi-calendar-date me-2"></i>{{ object.updated_at.date }}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{{ object.absolute_url }}"
                   class="col-12 col-sm-6 col-md-4">
                    <div dir="auto"
                         class="card text-white zoom round-more"
                         style="height: 22em;">
                        <img src="{{ object.image.url }}"
                             class="card-img"
                             alt="{{ object.title }}"/>
                        <div class="card-img-overlay overlay-dark d-flex flex-column justify-content-end p-4">
{#                            <h5 class="card-title fs-6 fw-bold">{{ object.title }}</h5>#}
                            <p class="card-text fs-5">{{ object.headline|slice:80 }}...</p>
                            <p dir="ltr"
                               class="card-text fs-6 fw-lighter"
                               style="opacity: 50%">
                                <i class="bi bi-calendar-date me-2"></i>{{ object.updated_at.date }}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}