{% url 'index' as path_to_home %}
{% url 'admin:index' as path_to_admin %}
{% url 'about' as path_to_about %}
{% url 'blog:list' as path_to_blog_list %}
{% url 'blog:create' as path_to_blog_create %}
{% url 'profiles:my-profile' as path_to_my_profile %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path_to_home }}">MyBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if path_to_home == request.path %}active{% endif %}" aria-current="page"
                       href="{{ path_to_home }}">Home</a>
                </li>
                <li>
                    <a class="nav-link {% if path_to_blog_list in request.path %}active{% endif %}" aria-current="page"
                       href="{{ path_to_blog_list }}">Blogs</a>
                </li>
                <li>
                    <a class="nav-link {% if path_to_blog_create in request.path %}active{% endif %}" aria-current="page"
                       href="{{ path_to_blog_create }}">Creat New</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link {% if path_to_my_profile in request.path %}active{% endif %}"#}
{#                       href="{{ path_to_my_profile }}">My Profile</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link {% if path_to_admin in request.path %}active{% endif %}"
                       href="{{ path_to_admin }}">Admin area</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
